@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800&display=swap');



$primary-color: #17122b;
$secondary-color: #211f44;
$dark : #2f3542;
$light: white;
@mixin media-sm {
    @media screen and (min-width: 100px) {
      @content;
    }
  }
@mixin media-md {
    @media screen and (min-width: 600px) {
      @content;
    }
  }
  @mixin media-lg {
    @media screen and (min-width: 960px) {
      @content;
    }
  }
  @mixin media-xl {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
  
  body{
    background-color: $secondary-color;
    background-color: $primary-color;
    font-family: 'Montserrat Alternates', sans-serif;
  }